# Frontend environment example for Vite
# Copy this file to `.env` or create `.env.local` and fill values

VITE_GOOGLE_CLIENT_ID=560711663335-p8r50hscti5467f9b41t5navv1utpen6.apps.googleusercontent.com
VITE_BACKEND_URL=http://localhost:5000
